
@{ViewData["Title"] = "ExampleController Index sayfası";
    Layout = "ExampleLayout";
}

@section header
{

<p> Bu kodlar headerın hemen altına eklenecek</p>
}

@section footer

{

<p>Bu kodlarfooterın hemen altına eklenecek</p>
}

<div>Bu sayfa Example Controller> Index sayfasıs</div>
